Studenti/Mauro Marfia/Mauro_venv
Giorno 8/genospace/
Studenti/Alessio Mangiagi/Ad_Astra
Studenti/Roberta_vanini/SpazioRV
Studenti/Roberta_vanini/little_animals
Studenti/Federico_Manni/FedericoSpazio
studenti/Antonio Loponte/TonySpace
venv/
.venv/
Giorno 13/app